<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Listing catalog {{ directory }}</title>
    <style type="text/css">
	.col { color: #B22222;}
    </style>
 </head>
 <body>
    <h1>Listing catalog {{ directory }}</h1>
    <table>
    <tr class="col">
	<td>name</td>
	<td>size</td>
	<td>last modification</td>
    </tr>		
    {% for i in dir_list %}
    <tr>
	<td>
	 <a href="{{ i.name }}">{{ i.name }}
	 </a>
	</td>
	<td>{{ i.size }}</td>
	<td>{{ i.lastmodtime }}</td>
    </tr>
    {% endfor %}
    {% for f in file_list %}
    <tr>
	<td>{{ f.name }}</td>
	<td>{{ f.size }}</td>
	<td>{{ f.lastmodtime }}</td>
    </tr> 
    {% endfor %}   
    </table>
 </body>
</html>
